.data-tables tbody{
    overflow: auto !important;
}
.top-bar, .top-bar ul{
  background-color: #243e68 !important;
}
.menu-text{
  color: white !important;
  font-weight: bolder !important;
}
.top-bar a{
  color: #cfdef7 !important;
}

tbody {
    background-color: #ddd;
    height: 200px;
    overflow: auto;
    width:100%;
}

.data-tables thead > tr, tbody{
    display:block;}
