/* http://meyerweb.com/eric/tools/css/reset/
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
       }

 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
    display: block;
 }
 body {
    line-height: 1;
    height: 100%;
 }
 ol, ul {
    list-style: none;
   }
 blockquote, q {
    quotes: none;
 }
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*Custom style*/
html,body{
  height: 100%;
background-color: #012660;
}
#updateform{
  background-color: white;
  height:95%;
  width:80%;
  position: absolute;
  top:0px;
  left: 10%;
}
#update{
  position: absolute;
  margin-left: 50px;
  margin-top: 50px;
}
#update label{
  margin-top: 35px;
  width: 130px;
  float: left;
  margin-right: 50px;
  font-size: 16px;
}
#update input[type="text"],#update input[type="email"]{
    margin-top: 30px;
    width:400px;
    height: 30px;
    font-size: 23px;
    padding-left: 10px;
}
#update input[type="submit"]{
  background-color: #6095ea;
  color: White;
  margin-top: 20px;
  width:70%;
  height: 50px;
  margin-left: 15%;
  font-size: 35px;
  border-radius: 8px;
}
#createform{
  padding-left: 50px;
  padding-top: 25px;
  background-color: white;
  width:80%;
  margin-left: 10%;
  height: 100%;
}
#user_list{
  width:600px;
}
#user_list select ,#user_list textarea,#user_list input[type="text"]{
  width:100%;
  height: 50px;
  padding-left: 5px;
  font-size: 25px;
}
#user_list textarea{
  height: 200px;

}
#user_list input[type="submit"]{
  height: 50px;
  width:100%;
  font-size: 30px;
  background-color: #05b0bc;
  color: white;
  border-radius: 10px;
}
#userdetails{
  background-color: #f2f2f2;
  position: absolute;
  top:30px;
  left:100px;
  height: 500px;
  width: 300px;
}
#dashboard{
  display: inline-block;
  background: white;
  width: 94%;
  margin-left: 3%;
  height: 100%;
}
#tables{
  position: absolute;
  top:30px;
  left:410px;
}
table {
    margin: 10px;
    border-collapse: collapse;
    width: 100%;
}
th, td {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){background-color: #f2f2f2}
th {
    background-color: #4CAF50;
    color: white;

}
#tables h2{
  text-align: center;
  font-size: 20px;
  margin: 5px;
}
#userdetails a{
  background-color: #4CAF50;
  color: white;
font: bold 11px Arial;
  padding: 10px 10px 10px 10px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  font-size: 25px;
  float: left;
    border-radius: 10px;
}
