/* http://meyerweb.com/eric/tools/css/reset/
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
       }

 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
    display: block;
 }
 body {
    line-height: 1;
 }
 ol, ul {
    list-style: none;
   }
 blockquote, q {
    quotes: none;
 }
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*Custom style*/
@media screen and (min-device-width: 768px){
body{
  height: 100%;
  background-image: url('/images/home.jpg');
  background-size: inherit;
  background-repeat: no-repeat;
}
#loginform{
position: absolute;
top:200px;
right:200px;
padding: 20px;
background-color: rgba(67, 73, 81, 0.5);

}

#login_button{
  background-color: #6095ea;
  color: white;
  font-weight: bold;
  font-size: 1.4em;
  margin: 10px;
  width: 276px;
  height: 50px;
  border: solid 2px #3478e5;
}




}

@media screen and (min-device-width: 300px) and (max-device-width:767px){
  html{
    height: 100%;
    width: 100%;
  }
  body{
    position: absolute;
    top:0px;
    left: 0px;
    height: 100% !important;
    width: 100%;
    background:linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	  height: 100%;
    }
  #loginform{
    position: absolute;
    margin: 5%;
    width:90%;
    top:30%;
    background-color: rgba(67, 73, 81, 0.5);

  }

#login_button{
  background-color: #6095ea;
  color: white;
  font-weight: bold;
  font-size: 3em;
  margin: 10%;
  width: 80%;
  height: 150px;
  border: solid 2px #3478e5;
}
}
