/*/* http://meyerweb.com/eric/tools/css/reset/
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
       }

 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
    display: block;
 }
 body {
    line-height: 1;
 }
 ol, ul {
    list-style: none;
   }
 blockquote, q {
    quotes: none;
 }
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*Custom CSS*/

body{
  overflow-y: scroll;
}
strong{
  font-size: 1.1em;
}
em{
  font-style: italic;
  font-size: 0.8em;
  color: #757575;
  width: 100px;
  display: inline-block;
}

.row{
  position: absolute;
  left: 0px;
  top: 80px;
  width:97%;
  padding-left:1%;
  padding-right:2%;
  padding-bottom: 15%;
}
.updateForm{
    margin-left: 15%;
  width:40%;
  height: 90%;
}

.updateForm label{
  font-size: 18px;
  font-weight: 500;
  padding-top: 18px;
  display: inline-block;
  width:30%;
}
.updateForm button{


    margin-left: 200px;
  height: 50px;
  width: 200px;
  background: rgb(0, 188, 212);
  color: white;
  font-size: 20px;
}
.taskform{
  margin-left: 15%;
  width:40%;
  height: 90%;
}
.taskform label{
  font-size: 18px;
  font-weight: 500;
  padding-top: 18px;
  display: inline-block;
  width:30%;
}
.taskform select{
  
  height:48px;
    -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background: transparent;
   border: 0px;
   border-bottom: solid 1px ;
   font-size: 15px;
   width:256px;
   padding-left:20px;
   border-color: rgb(224, 224, 224);

}

.taskform button{
  margin-left: 200px;
  height: 50px;
  width: 200px;
  background: rgb(0, 188, 212);
  color: white;
  font-size: 20px;
}

:invalid {
  box-shadow: none;
}

:-moz-submit-invalid {
  box-shadow: none;
}

:-moz-ui-invalid {
  box-shadow:none;
}
.chats{
  background-color:#00ACC1;
  width:75%;
  padding:10px;
  border-radius:25px;
  margin: 3px;
}
#chatlist{
  margin-bottom:50px;
}


.chats .details{
    font-size:10px;
  display: inline-block;
}
.chats .name{
  font-weight: 600;
  float: left;
}
.chats .time{
  margin-left: 20px;
  float: left
}
.right{
  background-color:#a5e7ff;
  margin-left:25%;
}

.formRows{
  margin: 4%;
  width: 100%;
  display: inline-block;
}

.taskRows{
  background-color: white;
  padding: 1%;
  width:72%;
  margin: 13%;
  margin-top:0.5%;
  margin-bottom: 0.5%;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
  display: inline-block;
}

.taskName{
  font-size: 1.5em;
  float: left;
  width:74%;
  padding: 1%;
  display: block;
  word-wrap: break-word;
}

.dueDate{
  float: right;
    width: 18%;
  font-size:1.5em;
    padding: 1%;
}
.taskTo{
float: left;
  width: 15%;
    padding-left: 1%;
      font-size: 0.8em;
  }
.taskStatus{
    float:right;
        width: 18%;
  font-size:0.8em;
}
.Completed{
  color: green;
}
.Not{
  color: red;
}

.taskPannel{
  margin-top: 2%;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
}

.taskDetails{
  line-height: 1.2;
margin: 1%;
padding: 1%;
width:100%;
float: left;
 display: block;
 height:160px;
overflow-y:auto;
  word-wrap: break-word;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);

}
.taskPersons{
margin: 1%;
padding: 1%;
padding-top:1%;
width:30%;
float:right;
box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
}
.taskAction{
  float:left;
  display: inline;
  width:100%;
}


.chatPanel{
  height:250px;
  clear:both;
}
.chatList{
  float: left;
  width:98%;
  margin-left: 0.5%;
  padding-left:0.5%;
  margin-right: 0.5%;
  padding-right:0.5%;
  height: 190px;
  display: block;
  border: 1px solid rgba(0,0,0,.15);
  overflow-y:auto;
}
.chatForm{
  float: left;

  padding: 1%;
  width:100%;
  box-sizing: border-box;
}