/* http://meyerweb.com/eric/tools/css/reset/
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
       }

 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
    display: block;
 }
 body {
    line-height: 1;
 }
 ol, ul {
    list-style: none;
   }
 blockquote, q {
    quotes: none;
 }
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*Custom style*/
@media screen and (min-device-width: 768px){
body{
  height: 100%;
  background-image: url('/images/home.jpg');
  background-size: inherit;
  background-repeat: no-repeat;
}
#loginform{
position: absolute;
top:200px;
right:200px;
height: 200px;
width: 300px;
background-color: rgba(67, 73, 81, 0.5);

}
#loginform h4{
  text-align: center;
  color: #102c59;
  font-weight: bolder;
  margin: 1px;
  margin-top: 7px;
  font-size: 18px;
}
#phone_num{
font-family:  'Arial', 'Liberation Sans', 'Helvetica Neue', sans-serif;
font-size: 1.4em;
margin: 10px;
padding-left: 20px;
padding-right: 20px;
width: 236px;
height: 50px;
border: solid 2px #3478e5;
}
#login_button{
  background-color: #6095ea;
  color: white;
  font-weight: bold;
  font-size: 1.4em;
  margin: 10px;
  width: 276px;
  height: 50px;
  border: solid 2px #3478e5;
}




}

@media screen and (min-device-width: 300px) and (max-device-width:767px){
  html{
    height: 100%;
    width: 100%;
  }
  body{
    position: absolute;
    top:0px;
    left: 0px;
    height: 100% !important;
    width: 100%;
    background:linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	  height: 100%;
    }
  #loginform{
    position: absolute;
    top:30%;
    width: 100%;
    background-color: rgba(67, 73, 81, 0.5);

  }
  #loginform h4{
  text-align: center;
    color: white;
    margin: 1px;
  margin-top: 5%;
      font-weight: bolder;
        font-size: 5em;
  }
  #phone_num{
    font-family:  'Arial', 'Liberation Sans', 'Helvetica Neue', sans-serif;
font-size: 5em;
margin: 5%;
margin-left: 7%;
padding: 30px;
padding-left: 3%;
padding-right: 3%;
width: 80%;
height: 50px;;
  }

#login_button{
  background-color: #6095ea;
  color: white;
  font-weight: bold;
  font-size: 3em;
  margin-left:7%;
  margin-bottom: 10%;
  width: 86%;
  height: 100px;
  border: solid 2px #3478e5;
}
}
